[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = "*"
aiohttp = "*"
colorama = "*"
motor = "*"
pymongo = "*"
dnspython = "*"
humanize = "*"

[requires]
python_version = "3.8"

[scripts]
townboat = "python bot.py"
bot = "python bot.py"
